[user]
  name = "Veez Remsik"
  email = "almighty@veez.us"
[pull]
  ff = "only"
[alias]
  # Daily use
  b = branch
  c = commit
  co = checkout
  cp = cherry-pick
  d = diff
  dc = diff --cached
  lg = log --graph --oneline --decorate --color --all --tags
  pm = push manger HEAD
  pr = pull --rebase
  put = push origin HEAD
  ra = rebase --abort
  rc = rebase --continue
  reauthor = commit --amend --reset-author -CHEAD
  s = status
  sync = !sh -c '(git fetch -p && git branch --merged | grep -v "\\*" | grep -v 'master' | grep -v 'develop' | xargs -n1 git branch -d)' -
  no = diff --name-only
  w = switch
  whosbeeneatingmycookies = for-each-ref --sort=-committerdate --count=60 refs/remotes/ --format='%(committerdate:short)\t%(refname:short)\t%(subject)\t%(authorname)'
[color]
  ui = true
[core]
  excludesfile = ~/.gitignore
  pager = diff-so-fancy | less --tabs=4 -RFX
	attributesfile = /Users/veezus/.gitattributes
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[diff-so-fancy]
  stripLeadingSymbols = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
