[user]
	name = "Veezus Kreist"
	email = "almighty@veez.us"
[alias]
	ap = add -p
	b = branch
	br = branch
	c = commit
	co = checkout
	cp = cherry-pick
	d = diff
	dc = diff --cached
	lg = log --graph --oneline --decorate --color --all
	pr = pull --rebase
	put = push origin HEAD
	rc = rebase --continue
	reauth = commit --amend --reset-author -CHEAD
	s = status
	st = status
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
